{% load static %}
{% load wagtailimages_tags %}

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>




  
{% image stream.value.background height-200 as photo %}
    <div class="jumbotron shadow jumbotron-fluid mb-0 stream_item {{ stream.value.classes }} {{ stream.block_type }}" style="background-image: url('{{ photo.url }}'); background-size: cover;">
        <div class="container text-center mw-75">
            <h1 class="display-4 jumbotron-font mw-75 {{ stream.value.classesText }}">{{ stream.value.heading }}</h1>
            {% if stream.value.text %}<p class="lead {{ stream.value.classesText }}">{{ stream.value.text }}</p>{% endif %}
            {% if stream.value.buttonUrl and stream.value.buttonLabel %}<p class="lead"><a class="btn btn-primary btn-lg" href="{{ page.buttonUrl }}" role="button">{{ stream.value.buttonLabel }}</a></p>{% endif %}
        </div>
    </div>

